.player-page {
    width: 700px;
    margin: 120px auto auto;
}

.player-caption a {
    font-size: 16px;
    color: rgb(47, 152, 66);
    text-decoration: none;
}

.player-info {
    width: 70%;
    display: inline-block;
}

.music-title {
    font-size: 25px;
    font-weight: 400;
    color: rgb(3, 3, 3);
    height: 36px;
    line-height: 36px;
}

.music-artist {
    font-size: 15px;
    font-weight: 400;
    color: rgb(74, 74, 74);
}

.left-time {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    width: 40px;
    display: inline-block;
}

.volume-controller {
    position: relative;
    /*left: 20px;*/
    /*top: -3px;*/
    display: inline-block;
}

.volume-controller .fa {
    color: #ccc;
}

.fa-volume-up {
    top: 5px;
    left: -5px;
}

.volume-controller .volume-wrapper {
    width: 60px;
    display: inline-block;
    opacity: 0;
    transition: opacity .5s linear;
}

.volume-controller:hover .volume-wrapper {
    opacity: 1;
}

.play-progress {
    height: 10px;
    line-height: 10px;
}

.play-controller {
    margin-top: 30px;
}

.play-button {
    width: 80%;
    display: inline-block;
}

.play-mode {
    width: 20%;
    display: inline-block;
}

.play-controller span  i.fa {
    color: #6d6d6d;
}

.fa {
    cursor: pointer;
}

.music-pic {
    width: 30%;
    display: inline-block;
}

.music-pic img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}